h1, p {
    font-family: Lato;
  }
  
  .form{
    display:flex;
    flex-direction: column;
    gap: 1rem;
  
  }
  .form-fields{
    display:flex;
    flex-direction: column;
    width: 20rem;
  }
  
  .form-fields > input{
    height: 1rem;
  }
  
  .btn{
    width: 20rem;
  }